<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .day-wrap {
            width:100%;
            margin: 40px auto;
            font-size:20px;
            color:#5f5e5e;
            text-align:center
        }

        .lastDay {
            font-size:24px;
            color:rgb(221, 73, 73)
        }

        .weather-wrap {
            width:100%;
            margin: 0 auto;
            color:#5f5e5e;
            text-align:center
        }

        .weatherTip {
            color:#676767;
            font-size:20px
        }
        .weatherTip-title {
            margin-top:15px;
            color:#676767;
            font-size:15px
        }
        .weatherTip-list {
            display: flex;
            margin-top:5px;
            height: 30px;
            line-height: 30px;
            justify-content: space-around;
            align-items: center;
        }

        .level-box {
            display:inline-block;
            padding:0 8px;
            line-height:25px;
            border-radius:15px;
            text-align:center;
        }
        .level-box. .level1{
            color:#8fc31f;
        }
        .level-box. .level2{
            color:#d7af0e;
        }
        .level-box. .level3{
            color:#f39800;
        }
        .level-box. .level4{
            color:#e2361a;
        }
        .level-box. .level5{
            color:#5f52a0;
        }
        .level-box. .level6{
            color:#631541;
        }

        .one-wrap {
            text-align:center;
            margin:35px 0;
        }
        .one-title {
            display:block;
            margin-top:55px;
            color:#676767;
            font-size:15px
        }
        .one-todaystr {
            display:block;
            margin-top:25px;
            font-size:22px;
            color:#9d9d9d;
        }
        .one-imgUrl {
            width:100%;
            margin-top:10px;
        }
        .one-type {
            color:#b0b0b0;
            font-size:13px;
        }
        .one-text {
            margin:10px auto;
            width:85%;
            color:#5f5e5e;
        }

    </style>
</head>

<body style="margin:0;padding:0;">
<div class="day-wrap">
    <span>今天是我们在一起的第</span>
    <span class="lastDay"> <%= lastDay %> </span>
    <span>天</span>
</div>
<div class="weather-wrap">
    <div class="weatherTip"><%= weatherTip %></div>
    <div class="weatherTip-title">近期天气预报</div>
    <% for(var j = 0; j<threeDaysData.length; j++) { %>
        <div class="weatherTip-list">
            <span style="width:15%; text-align:center;"><%= threeDaysData[j].Day %></span>
            <div style="width:25%; text-align:center;">
                <img style="height:26px;vertical-align:middle;" src='<%= threeDaysData[j].WeatherImgUrl %>' alt="">
                <span style="display:inline-block"><%= threeDaysData[j].WeatherText %></span>
            </div>
            <span style="width:25%; text-align:center;"><%= threeDaysData[j].Temperature %></span>
            <% if (threeDaysData[j].PollutionLevel=='level_1') { %>
                <div style="width:35%; ">
                    <span class="level-box level1"  ><%= threeDaysData[j].Pollution %></span>
                </div>
            <% }  %>
            <% if (threeDaysData[j].PollutionLevel=='level_2') { %>
                <div style="width:35%;">
                    <span class="level-box level2"><%= threeDaysData[j].Pollution %></span>
                </div>
            <% }  %>
            <% if (threeDaysData[j].PollutionLevel=='level_3') { %>
                <div style="width:35%; ">
                    <span class="level-box level3"><%= threeDaysData[j].Pollution %></span>
                </div>
            <% }  %>
            <% if (threeDaysData[j].PollutionLevel=='level_4') { %>
                <div style="width:35%; ">
                    <span class="level-box level4"><%= threeDaysData[j].Pollution %></span>
                </div>
            <% }  %>
            <% if (threeDaysData[j].PollutionLevel=='level_5') { %>
                <div style="width:35%; ">
                    <span class="level-box level5"><%= threeDaysData[j].Pollution %></span>
                </div>
            <% }  %>
            <% if (threeDaysData[j].PollutionLevel=='level_6') { %>
                <div style="width:35%; ">
                    <span class="level-box level6"><%= threeDaysData[j].Pollution %></span>
                </div>
            <% }  %>
        </div>
    <% } %>
</div>

<div class="one-wrap">
    <div class="one-title">ONE · 一个</div>
    <div class="one-todaystr"><%= todaystr %></div>
    <img class="one-imgUrl" src="<%= todayOneData.imgUrl %>" alt="">
    <span class="one-type"><%= todayOneData.type %></span>
    <div class="one-text"><%= todayOneData.text %></div>
</div>
</body>

</html>